<h2><%=l @tracker.date, :format => :long_ordinal%></h2>

<% unless @entries.empty? %>
  <table id="tracker">
    <thead>
      <tr>
        <th>Food</th>
        <th class="last">Points</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>Total</td>
        <td class="last"><%=@entries.sum(:points)%></td>
      </tr>
    </tfoot>
    <tbody>
      <%= render @entries %>
    </tbody>
  </table>
<% end %>

<%= form_for [@tracker, Entry.new] do |f| -%>
  <fieldset class="inputs">
    <ol>
      <li class="required">
        <%= f.label :name, 'Food' %>
        <%= f.text_field :name %>
      </li>
      
      <li class="required">
        <%= f.label :points, 'Points' %>
        <%= f.number_field :points, :min => '0.5', :step => '0.5' %>
      </li>
    </ol>
  </fieldset>
  
  <fieldset class="buttons">
    <%= submit_tag 'Add' %>
  </fieldset>
<% end -%>
